<!--The content below is only a placeholder and can be replaced.-->
<h1>Movietter</h1>
<div class='main_div'>
  <div class='left_div'>
    <mat-card class='card'>
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-form-field class="search_user">
          <input matInput placeholder="Twitter Username" (change)='getUserInfo($event)'>
        </mat-form-field>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <div class='user_layer'>
          <img class="profile-photo" [src]="profilePhoto" style="width: 40px; border-radius: 50%;grid-column: 1;grid-row: 1;"/>
          <h4 mat-subheader>{{username}}</h4>
        </div>
        <mat-list-item *ngFor='let emotion of getKeys(this.userEmotions)'>
          <div class='list-item'>
            <div class='emotion-name'>{{emotion}}</div>
            <!-- <div class='emotion-score'>{{userEmotions[emotion]}}</div> -->
            <ngb-progressbar class='emotion-score' showValue="true" type="success"
              [value]="getRoundsandPercent(userEmotions[emotion])"></ngb-progressbar>
          </div>
          <mat-divider inset='true'></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div class='topic_grid' *ngIf="userTopics.length != 0; else Topics">
          <div style='grid-column: 1; grid-row: 1;'><b>1. Topic</b></div>
          <div style='grid-column: 1; grid-row: 2;'><b>2. Topic</b></div>
          <div style='grid-column: 1; grid-row: 3;'><b>3. Topic</b></div>
          <div style='grid-column: 1; grid-row: 4;'><b>4. Topic</b></div>
          <div style='grid-column: 1; grid-row: 5;'><b>5. Topic</b></div>
          <div style='grid-column: 2; grid-row: 1;'>{{getTopic(userTopics[0])}}</div>
          <div style='grid-column: 2; grid-row: 2;'>{{getTopic(userTopics[1])}}</div>
          <div style='grid-column: 2; grid-row: 3;'>{{getTopic(userTopics[2])}}</div>
          <div style='grid-column: 2; grid-row: 4;'>{{getTopic(userTopics[3])}}</div>
          <div style='grid-column: 2; grid-row: 5;'>{{getTopic(userTopics[4])}}</div>
        </div>
        <ng-template #Topics></ng-template>
      </mat-card-content>
    </mat-card>
  </div>
  <div class='rigth_div'>
    <div class='rigth_grid'>
      <div class='emotionmovies_layer'>
        <mat-card class='movie_card'>
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Emotion Related Movies</mat-card-title>
            <mat-card-subtitle>These movies are recommended based on emotions</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class='movie_card_content'>
            <div *ngIf="this.emotionRelatedMovies.length == 0; else EmotionMovies"></div>
            <ng-template #EmotionMovies>
              <div class='movie_grid'>
                <div *ngFor="let movie of this.emotionRelatedMovies; let i = index" style.grid-column="{{i+1}}">
                  <movie-info [movieDetail]='movie'></movie-info>
                </div>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
      <div class='topicmovies_layer'>
        <mat-card class='movie_card'>
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Topic Related Movies</mat-card-title>
            <mat-card-subtitle>These movies are recommended based on topics</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class='movie_card_content'>
            <div *ngIf="topicRelatedMovies.length == 0; else TopicMovies"></div>
            <ng-template #TopicMovies>
              <div class='movie_grid'>
                <div *ngFor="let movie of topicRelatedMovies; let i = index" style.grid-column="{{i+1}}">
                  <movie-info [movieDetail]='movie'></movie-info>
                </div>
              </div>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>